* {
  scroll-behavior: smooth;
}

.title-sub {
  padding-top: 30px;
  margin: 50px 0 10px 0;
}

/* nav */
.navbar {
  padding: 0;
}

.navbar-brand img {
  width: 70px;
}

.navbar-nav li a {
  font-weight: 500;
}

/* running text */
.running-text {
  padding-top: 150px;
}

/* carousel */
.carousel-inner {
  padding: 20px;
  border-radius: 20px;
}

.carousel-item img {
  border-radius: 20px;
}

/* koten-konten */
.konten-konten {
  padding: 0 20px;
  text-align: justify;
}

.artikel {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

/* mitra */
.mitra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* social */
.sosmed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 9px;
}

.social-item {
  font-size: 20px;
}

.social-item a {
  text-decoration: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
  color: black;
  transition: 0.5s ease;
}

.social-item a i {
  padding-right: 7px;
}

.social-item a:hover {
  background-color: white;
}

/* whatsapp icon */

.whatsapp {
  display: flex;
  flex-direction: column-reverse;
  padding: 10px;
  border-radius: 50%;
  border: none;
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  transition: 1.8s;
}

.whatsapp img {
  border-radius: 50%;
  width: 70px;
}

/* footer */

footer {
  padding-top: 20px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .running-text {
    color: red;
  }

  .artikel {
    display: flex;
    flex-direction: column;
  }

  .mitra {
    flex-direction: column;
  }

  iframe {
    width: 70%;
  }

  .sosmed {
    padding-top: 35px;
  }
}
